<div mat-dialog-content>
  <h3 mat-dialog-title>Add New Course</h3>
<form [formGroup]="courseForm">

  <mat-form-field appearance="outline">
    <mat-label>Course Title</mat-label>
    <input matInput type="text" formControlName="title" maxlength="100" required>
    <mat-hint>The new title for this course, must be under 100 characters long.</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Instructor</mat-label>
    <mat-select formControlName="instructor">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let inst of instructors" value="{{inst.id}}">{{inst.name}}</mat-option>
      <mat-hint>Reassign this course's instructor.</mat-hint>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Select Category</mat-label>
    <mat-select formControlName="category">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let category of categories" value="{{category.name}}">{{category.name}}</mat-option>
      <mat-hint>Choose A Category</mat-hint>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Course Enrollement End Date</mat-label>
    <input matInput formControlName="endEnrollDate" [min]="today" [matDatepicker]="picker" placeholder="Choose an end date" required>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Maximum Enrollment</mat-label>
    <input matInput formControlName="MAX_SIZE" type="number" [min]="0" [max]="100" placeholder="0 - 100" required>
  </mat-form-field>

  <div>
    <mat-label><strong>Course Description:</strong></mat-label>
    <angular-editor formControlName="description" [config]="config"></angular-editor>
    <mat-error *ngIf="courseForm.controls['description'].invalid">{{getDescriptionError()}}</mat-error>
    <mat-hint>Edit this course's description, cannot be empty.</mat-hint>
  </div>
</form>

<mat-dialog-actions>
  <span class="fill"></span>
  <button (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
  <button (click)="addCourse()" mat-raised-button color="primary">Create</button>
</mat-dialog-actions>
</div>
