<h3 mat-dialog-title>Discussion Editor</h3>
<mat-spinner *ngIf="submitting" style="margin-left: auto; margin-right: auto;"></mat-spinner>
<form id="form" [formGroup]="discussionForm">

    <div>
        <mat-slide-toggle formControlName="isClosed" color="primary">
            Closed Discussion
        </mat-slide-toggle>
    </div>

    <br>

    <mat-form-field appearance="outline">
        <mat-label>Discussion End Date</mat-label>
        <input matInput formControlName="endDate" [min]="today" [matDatepicker]="picker" placeholder="Choose an end date" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Discussion Title</mat-label>
        <input matInput type="text" formControlName="title" maxlength="100" required>
        <mat-hint>The title of the new discussion, must be under 100 characters long.</mat-hint>
    </mat-form-field>

    <div>
        <mat-label><strong>Discussion Description:</strong></mat-label>
        <angular-editor formControlName="description" [config]="config"></angular-editor>
        <mat-error *ngIf="discussionForm.controls['description'].invalid">{{getDescriptionError()}}</mat-error>
    </div>
    <mat-dialog-actions>
        <span class="fill"></span>
        <button (click)="tryDelete()" mat-raised-button>Delete Discussion</button>
        <button (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
        <button [disabled]="discussionForm.invalid" (click)="updateDiscussion()" mat-raised-button color="primary">Update</button>
    </mat-dialog-actions>
</form>

