<div class="mat-app-background">
  <mat-toolbar>
    <mat-toolbar-row style="background-color: #3f51b5; color: #fafafa;
          border-bottom-style: solid; border-bottom-width: 1px;
          border-bottom-color: black;">
      Profile
    <span class="fill"></span>
      <button mat-button (click)="openEditRegisterProfile()">Edit Profile</button>
<!--      <button mat-button [routerLink]="['/nav/security/profile-editor']">Edit Profile</button>-->
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="card-deck-container">
      <ng-container>
    <mat-card>
<!--      <button mat-stroked-button type= "button" (click)="filePicker.click()"></button><input type="file" #filePicker>-->
      <img width="200px" height="200px"
        src="https://firebasestorage.googleapis.com/v0/b/learnfiu.appspot.com/o/{{getUser().photo}}?alt=media&token={{getUser().photoToken}}">
    </mat-card>
        <mat-card class="example-card">

    <mat-card-title> STUDENT INFO </mat-card-title>
    <mat-spinner *ngIf="loading" style="margin-left: auto; margin-right: auto;"></mat-spinner>
    <mat-card-content *ngIf="!loading">
      <p>
        <strong>First Name: </strong>{{getUser().first_name}}
        <br>
        <strong>Last Name: </strong> {{getUser().last_name}}
        <br>
        <strong>Email: </strong>{{getUser().email}}
        <br>
        <strong>Phone: </strong>{{getUser().phone}}
        <br>
        <strong>Country: </strong>{{getUser().country}}
      </p>
    </mat-card-content>
  </mat-card>
 </ng-container>
    </div>
</div>
