<ng-container>
<h3 mat-dialog-title>New Conversation Editor</h3>
<form [formGroup]="conversationForm">

  <mat-form-field appearance="outline">
    <mat-select [(ngModel)]="courseId" (ngModelChange)="onCourseSelected(courseId)" formControlName="courseId">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let course of myCourses" [value]="course.id"  >{{course.title}} </mat-option>
   </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-select (selectionChange)="chooseRecipient($event)" multiple formControlName="recipients">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let recipient of recipients" value="{{recipient.id}}">{{recipient.fname + ' ' + recipient.lname}} </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Conversation Title</mat-label>
    <input matInput type="text" formControlName="title" maxlength="100" required>
  </mat-form-field>

  <div>
    <mat-label><strong>Message:</strong></mat-label>
    <angular-editor formControlName="description" [config]="config"></angular-editor>
    <mat-error *ngIf="conversationForm.controls['description'].invalid">{{getDescriptionError()}}</mat-error>
  </div>

</form>
<mat-dialog-actions>
  <span class="fill"></span>
  <button (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
  <button [disabled]="conversationForm.invalid" (click)="sendMessage()" mat-raised-button color="primary">Send</button>
</mat-dialog-actions>
</ng-container>
