<div class="mat-app-background">
  <ng-container>
    <mat-toolbar>
      <mat-toolbar-row style="background-color: #3f51b5; color: #fafafa;
          border-bottom-style: solid; border-bottom-width: 1px;
          border-bottom-color: black;">Support
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-card>
      <mat-card-title> How Can We Help ? </mat-card-title>
    <mat-card-content>
        <input
          matInput
          type="text"
          class="header-searchbox"
          placeholder="Search Solutions">
        <button mat-icon-button color="primary">
          <mat-icon>search</mat-icon>
        </button>
      </mat-card-content>
      </mat-card>

    <mat-card>
        <mat-card-title> Describe Your Problem </mat-card-title>
      <mat-card-content>
      <textarea
        matInput
        rows="5"
        [value]="'Please explain your problem here!'"
        style="width: 500px"
      ></textarea>
      <br>
        <button
          mat-raised-button
          color="primary"
          type="submit"
          (click)="ComplaintSubmitted()">Submit Problem</button>
      <p> {{submittedComplaint}} </p>
        </mat-card-content>
    </mat-card>

  <mat-card>
      <mat-card-title> Contact Support </mat-card-title>
    <mat-card-content>
    <mat-list>
      <mat-list-item *ngFor="let admin of admins">
        <mat-icon mat-list-icon>contact_support</mat-icon>
        <h3 mat-line>{{admin.name}}</h3>
        <p mat-line> Phone: {{admin.phone}}</p>
        <p mat-line> Email: {{admin.email}} </p>
      </mat-list-item>
    </mat-list>
    </mat-card-content>
  </mat-card>
  </ng-container>
</div>
