
<ng-container>

<mat-card>
  <mat-card-title>
    Edit Profile
  </mat-card-title>
  <mat-spinner *ngIf="loading" style="margin-left: auto; margin-top: 1rem; margin-right: auto;"></mat-spinner>
  <form *ngIf="!loading" [formGroup]="profileEditorForm">
  <div>
    <app-image-upload></app-image-upload>
<!--    <button mat-stroked-button type= "button" (click)="filePicker.click()"></button><input type="file" #filePicker>-->
  </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>First Name</mat-label>
        <input formControlName="first_name" type="text" matInput required>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Last Name</mat-label>
        <input formControlName="last_name" type="text" matInput required>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="outline">
        <mat-label>Student Contact Email</mat-label>
        <input formControlName="email" type="email" matInput required>
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Phone Number</mat-label>
        <input formControlName="phone" type="text" matInput required>
      </mat-form-field>
    </div>
    <mat-form-field appearance="outline">
      <mat-label>Country of Origin</mat-label>
      <input formControlName="country" type="text" matInput required>
    </mat-form-field>

    <div>
      <button type="button" (click)="onNoClick()" mat-raised-button color="warn">Cancel</button>
      <span class="fill"></span>
      <button (click)="updateProfile()" [disabled]="profileEditorForm.invalid" type="button" mat-raised-button color="primary">Update Student</button>
    </div>
  </form>

</mat-card>
</ng-container>
